/* HEADER */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
  }

  h3 {
    font-size: 24px;
  }
  
  p {
    font-size: 12px;
  }
  
  div.top-header {
    /* padding: 5%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  header {
    background-color: #eac926;
  }
  
  header div.logo {
    padding: 10px;
    width: 50%;
  }
  
  header nav {
    font-size: 12px;
  }
  
  header ul li {
    list-style-type: none;
  }
  
  header ul li a {
    text-decoration: none;
    color: #000;
  }
  body header div.top-header form{
    display: flex;
    height: 40px;
    width: 80%;
    margin-left: 10%;
  }
  body header div.top-header form input{
    background-color: #fff;
    border: 0px solid #000;
    border-radius: 1px;
    width: 100%;
    outline: none;
    color: #666;
    padding: 2px;
  }
  body header div.top-header form button{
    background-color: #fff;
    border: 0px solid #000;
    border-radius: 1px;
    color: #666;
    width: 10%;
  }
  
header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
  div.burger-menu {
    text-align: center;
  }
  
  div.burger-menu i {
    background-color: #0044aa;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
  }

/* MAIN */
#form{
    display: flex;
    flex-direction: column;
    gap:18px;
    margin:10%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 1px;
    justify-content: center;
}
main ul li{
    list-style-type: none;
}

body{
    background-color: #ebebeb;
}
#perfilUsuario{
    display: flex;

}
#form input{
    margin: 15px;
    margin-bottom: 0px;
    height: 30px;
    border: 0px;
    border-radius: 4px;
}
#form input::placeholder{
    padding-left:15px;
}
#form button[type="submit"] {
    background-color: #0044aa;
    color:white;
    margin: 15px;
    margin-bottom: 2px;
    border-radius: 5px;
    height: 35px;
    border:none;
}
/* #form button:hover {
  background-color: #0022AA;
} */
#form button[type="reset"] {
    background-color: grey;
    color:white;
    margin: 15px;
    margin-top:2px;
    border-radius: 5px;
    height: 35px;
    border:none;
}
#perfilUsuario{
    display: flex;

}
  
  header ul {
    display: none;
    margin-bottom: 16px;
  }
@media (min-width: 361px){
    main section article .description{
        display: block;
    }
    /* header ul {
      display: block;
    } */
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    main section .products {
      display: flex;
      flex-wrap: wrap;
      gap: 0px 16px;
      justify-content: center;
    }
  
    main section .products article {
      width: 45%;
    }
  }
  footer {
    text-align: center;
    justify-content: center;
    /* position: fixed;
    bottom: 0; */
  }
  
  footer article {
    margin: 30px;
  }
  footer article i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
  }
  footer h4 {
    color: #666;
  }
  
  @media (min-width: 769px) {
    main section .products article {
      width: 22%;
    }
  
    header div.logo {
      width: 30%;
    }
  
    header .form {
      width: 30%;
    }
  
    header div.top-header p {
      width: 40%;
      margin-top: 0;
    }
    body header div.top-header form{
      width: 30%;
      margin-left: 0px;
    }
    header nav {
      display: flex;
    }
  
    header nav ul {
      width: 50%;
      display: flex;
      flex-direction: row;
      gap: 24px;
    }
    
    header nav ul:nth-child(1) {
      padding-left: 64px;
    }
  
    header nav ul:nth-child(2) {
      justify-content: flex-end;
      padding-right: 64px;
    }
  
    div.burger-menu {
      display: none;
    }
    footer div {
      display: flex;
      width: 100%;
    }
    footer article {
      width: 33%;
    }
    footer article i:hover{
      color:#0044aa;
    }
    footer div.copyright {
      justify-content: center;
      margin-top: 1%;
      margin-bottom: 3%;
    }
  }